<p id="notice"><%= notice %></p>

<p>
  <strong>(v1)Title:</strong>
  <%= @datum.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @datum.category_id %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
